@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
@font-face {
  font-family: fontrose;
  src: url(../fonts/Rose.ttf);
}
header nav {
  background-color: rgba(255, 255, 255, 0.7333333333);
  width: 100%;
}
header nav div a img {
  border-radius: 50%;
}
header nav div .navbar-toggler {
  background-color: #000000;
  opacity: 15%;
}
header nav div div h1 {
  display: none;
}
header nav div div {
  justify-content: end;
  padding: 25px;
}
@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  header nav div div h1 {
    display: flex;
    font-family: fontrose;
    font-size: 3.3rem;
    color: #aa8740;
  }
  header nav div div ul li .nav-link {
    margin-left: 15px;
    font-size: 1.1rem;
  }
}
@font-face {
  font-family: fontrose;
  src: url(../fonts/Rose.ttf);
}
main {
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
main div div div .img2 {
  display: flex;
  width: 100%;
  height: 200px;
}
main .contenedorPresentacion {
  box-shadow: 25px 20px 37px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 25px 20px 37px -4px rgba(28, 27, 27, 0.75);
  -moz-box-shadow: 25px 20px 37px -4px rgba(19, 19, 19, 0.75);
  margin-top: 35px;
}
main .contenedorPresentacion div div p {
  font-size: 1.1rem;
  font-family: "Nuosu SIL", serif;
  text-align: center;
}
main div .especiales {
  margin-bottom: 5px;
  margin-top: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #828282;
  opacity: 65%;
  border: #383838 solid 1px;
  border-radius: 3px;
}
main div .especiales h2 {
  font-size: 1rem;
  font-family: "Nuosu SIL", serif;
  color: #ffffff;
  text-align: center;
}
main div .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main div .container .card {
  margin: 3px;
}
main div .container .card div h4 {
  font-family: "Nuosu SIL", serif;
  color: #000000;
  text-align: center;
}
main div .container .card div .btn {
  width: 100%;
}
main div .nuestrosEspeciales h2 {
  font-family: "Nuosu SIL", serif;
  color: #000000;
}
main .seccionesNombre {
  background-color: #6c6c6c;
  opacity: 65%;
  border: 2px solid #0e0e0e;
}
main .seccionesNombre h2 {
  text-align: center;
  font-family: "Nuosu SIL", serif;
  font-size: 1.1rem;
  color: #ffffff;
}
main h3 {
  display: none;
}
main ol {
  list-style: none;
}
main ol li {
  font-size: 1rem;
  font-family: "Nuosu SIL", serif;
  text-align: center;
  margin-bottom: 5px;
}
main div .card {
  background-color: rgba(248, 248, 248, 0.7019607843);
  border: #3b3b3b solid 1px;
}
main div .card div h4 {
  font-family: "Nuosu SIL", serif;
  color: #a40000;
  text-align: center;
}
main div .card div p {
  text-align: center;
  font-family: "Nuosu SIL", serif;
  font-size: 1rem;
}
main .imagenes {
  display: none;
}
main .rowImagenes {
  display: none;
}
main .contenedorPresentacion .textoNosotros {
  margin-bottom: 15px;
  background-color: rgba(102, 87, 36, 0.122);
  border-radius: 15px;
}
main .contenedorPresentacion .textoNosotros p {
  font-size: 1.5rem;
  text-align: justify;
  padding-top: 25px;
}
main .contenedorPresentacion .nuestraProduccion {
  display: none;
}
main .diseñoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .diseñoForm div {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
main .diseñoForm div ul {
  list-style: none;
  background-color: rgba(231, 196, 70, 0.2392156863);
  border: #7b6d1e solid 3px;
  padding: 10px;
  border-radius: 15px;
  font-family: fontrose;
  font-size: 1.6rem;
  color: #714f4f;
}
main .diseñoForm div iframe {
  width: 300px;
  height: 200px;
  border: 2px solid #414141;
}
main .diseñoForm form {
  display: inline-block;
  font-size: 1.2rem;
  font-family: "Nuosu SIL", serif;
  background-color: rgba(85, 85, 85, 0.3254901961);
  color: rgba(0, 0, 0, 0.6588235294);
  padding: 10px;
  margin: 10px;
  border: 8px solid #4a4949;
  outline: 4px solid #2b2b2b;
}
main .diseñoForm form fieldset {
  display: grid;
  width: 100%;
  align-items: center;
}
main .diseñoForm form fieldset legend {
  display: none;
}
main .diseñoForm form fieldset div {
  display: grid;
  justify-content: center;
}
main .diseñoForm form fieldset div label {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 5px 5px 5px 5px 5px 5px 5px;
  padding: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
}
main .diseñoForm form fieldset div input {
  background-color: #f3f0f2;
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
}
main .diseñoForm form fieldset div .mensaje {
  background-color: #f3f0f2;
}
main .diseñoForm form fieldset .opcion {
  display: flex;
  padding: 10px;
}
main .diseñoForm form fieldset .opcion .pregunta {
  width: 60px;
  height: 35px;
}
main .diseñoForm form fieldset .promociones {
  display: flex;
}
main .diseñoForm form fieldset .promociones .check {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1024px) {
  main {
    padding-top: 137px;
  }
  main div div div .img2 {
    display: flex;
    width: 100%;
    height: 450px;
  }
  main section div div .animacionTexto {
    box-shadow: 12px 11px 30px 3px rgba(41, 41, 41, 0.88);
    -webkit-box-shadow: 12px 11px 30px 3px rgba(37, 37, 37, 0.88);
    -moz-box-shadow: 12px 11px 30px 3px rgba(14, 14, 14, 0.88);
    font-size: 1.7rem;
    font-family: "Nuosu SIL", serif;
    text-align: center;
    color: #040425;
    margin-top: 20px;
    border-radius: 25px;
    -webkit-animation-name: animacion;
            animation-name: animacion;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes animacion {
    0% {
      background-color: rgba(167, 187, 236, 0.6196078431);
    }
    100% {
      background-color: rgba(136, 146, 179, 0.7725490196);
    }
  }
  @keyframes animacion {
    0% {
      background-color: rgba(167, 187, 236, 0.6196078431);
    }
    100% {
      background-color: rgba(136, 146, 179, 0.7725490196);
    }
  }
  main div .especiales h2 {
    font-size: 1.6rem;
  }
  main div .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main div .container .card {
    margin: 10px;
  }
  main .seccionesNombre h2 {
    font-size: 1.6rem;
  }
  main .productos {
    display: flex;
    justify-content: center;
    font-family: fontrose;
    font-size: 2.5rem;
    font-style: italic;
  }
  main ol li {
    font-size: 1.3rem;
    font-family: "Nuosu SIL", serif;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
  }
  main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main .container .card {
    margin: 10px;
  }
  main .container .card div h4 {
    font-family: "Nuosu SIL", serif;
    color: #c80202;
    text-align: center;
  }
  main .container .card div p {
    text-align: center;
    font-family: "Nuosu SIL", serif;
    font-size: 1.3rem;
  }
  main .imagenes {
    display: flex;
    width: 100%;
    font-family: fontrose;
    font-style: italic;
    font-size: 2.8rem;
    text-decoration: underline;
    color: #460c0c;
    background-color: rgba(108, 108, 108, 0.5882352941);
    justify-content: center;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  main .rowImagenes {
    display: flex;
    padding: 5px;
    margin: 5px;
  }
  main .rowImagenes div img {
    width: 100%;
  }
  main .rowImagenes .tentate {
    padding: 10px;
    margin: 10px;
  }
  main .contenedorPresentacion {
    padding: 30px;
  }
  main .contenedorPresentacion div .nuestraProduccion {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  main .contenedorPresentacion div .nuestraProduccion img {
    width: 100%;
    height: 450px;
    border-radius: 50%;
  }
  main .diseñoForm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  main .diseñoForm div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  main .diseñoForm div ul {
    list-style: none;
    background-color: #f1afaf;
    border: #a94747 solid 3px;
    padding: 20px;
    border-radius: 15%;
  }
  main .diseñoForm div ul .contactoInfo {
    font-family: fontrose;
    font-size: 1.6rem;
    color: #540a0a;
  }
  main .diseñoForm div iframe {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
  }
  main .diseñoForm .formulario {
    width: 60%;
    background-image: url("../imagenes/fondocontacto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fdf2e3;
    color: #211705;
    border: #d6b8a5 solid 5px;
    border-radius: 25px;
    outline: #000000;
  }
  main .diseñoForm .formulario fieldset legend {
    display: flex;
    font-size: 1.7rem;
  }
  main .diseñoForm .formulario fieldset div {
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
  main .diseñoForm .formulario fieldset div label {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  main .diseñoForm .formulario fieldset div .deseoProm {
    margin-top: 15px;
  }
  main .diseñoForm .formulario fieldset div input {
    background-color: #f3f0f2;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    margin-right: 20px;
  }
  main .diseñoForm .formulario fieldset .comentario {
    flex-direction: column;
  }
  main .diseñoForm .formulario fieldset .comentario .mensaje {
    width: 400px;
    height: 250px;
    margin-left: 20px;
  }
  main .diseñoForm .formulario fieldset .boton {
    width: 40%;
    margin-top: 2px;
  }
  main .diseñoForm .formulario fieldset .opcion {
    display: flex;
    padding: 10px;
  }
  main .diseñoForm .formulario fieldset .opcion .pregunta {
    display: flex;
    width: 20%;
    margin-top: 15px;
  }
  main .diseñoForm .formulario fieldset .promociones {
    display: flex;
    width: 50%;
  }
  main .diseñoForm .formulario fieldset .promociones .check {
    width: 20px;
    height: 20px;
    margin-top: 25px;
  }
}
.pieDePagina {
  background-color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.9803921569);
}
.pieDePagina .redes {
  margin-right: 10px;
}
.pieDePagina .redes p {
  font-size: 0.8rem;
  font-family: "Nuosu SIL", serif;
  color: #ffffff;
  text-align: end;
}
.pieDePagina .redes a {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  padding-top: 5px;
  color: #aa8740;
}
.pieDePagina .autor {
  font-family: "Nuosu SIL", serif;
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .pieDePagina .autor {
    text-align: center;
    font-size: 1.5rem;
  }
  .pieDePagina .redes {
    padding-right: 80px;
  }
  .pieDePagina .redes p {
    text-align: right;
    font-size: 1.4rem;
  }
  .pieDePagina .redes a {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 5px;
  }
}
.boton1 {
  padding: 15px;
  border: 2px solid #fab1b1;
  border-radius: 5px;
  color: #000000;
  background-color: rgba(246, 146, 146, 0.415);
  font-family: fontrose;
  font-size: 1.5rem;
  margin: 5px;
}

.boton2 {
  padding: 15px;
  border: 2px solid #c3c2eb;
  border-radius: 5px;
  color: #000000;
  background-color: rgba(142, 134, 200, 0.402);
  font-family: fontrose;
  font-size: 1.5rem;
  margin: 5px;
}

.boton3 {
  padding: 15px;
  border: 2px solid #98b4c0;
  border-radius: 5px;
  color: #000000;
  background-color: rgba(166, 186, 190, 0.449);
  font-family: fontrose;
  font-size: 1.5rem;
  margin: 5px;
}

header nav div div ul li .nav-link {
  color: #ffffff;
  margin-left: 15px;
  font-size: 1.1rem;
  background-color: #4e4e4e;
  font-family: "Nuosu SIL", serif;
  text-decoration: none;
  border-radius: 25px;
  margin-right: 1px;
  padding: 10px;
}
header nav div div ul li .nav-link:hover {
  background-color: #aa8740;
}

main div .nuestrosEspeciales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div .container .card div .btn, main .diseñoForm form fieldset .boton {
  padding: 5px;
  color: #2a2212;
  background-color: rgba(77, 77, 77, 0.1450980392);
  border: 2px solid #4d4d4d;
  font-family: "Nuosu SIL", serif;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 10px;
}
main div .container .card div .btn:hover, main .diseñoForm form fieldset .boton:hover {
  background-color: rgba(170, 135, 64, 0.7058823529);
}/*# sourceMappingURL=estilos.css.map */