@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@font-face {
    font-family: fontrose;
    src: url(../fonts/Rose.ttf);
}
header {
    nav {
        background-color: $backgroundHeader;
        width: 100%;
        border: 2px solid #ac9511;
        div {
            div {
                h1 {
                    display: none;
                }
            }
            div {
                justify-content: end;
                padding: 25px;
                ul {
                    li {
                        .nav-link {
                            color: $primaryColor;
                            margin-left: 15px;
                            font-size: 1rem;
                        }
                        a {
                            background-color: #540a0a;
                            font-family: 'Nuosu SIL', serif;
                            text-decoration: none;
                            border-radius: 5px;
                            border-bottom: 3px solid #3e0303;
                            margin-right: 1px;
                            padding: 2px;
                            &:hover {
                                background-color: #a94747;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px){
    header {
        nav {
            div {
                div {
                    h1 {
                        display: flex;
                        font-family: fontrose;
                        font-size: 3.3rem;
                        color: #aa8740;
                    }
                }
                div {
                    ul {
                        li {
                            .nav-link {
                                margin-left: 15px;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}