@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@font-face {
    font-family: fontrose;
    src: url(../fonts/Rose.ttf);
}
main {
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .img2 {
        width: 100%;
    }
    .contenedorPresentacion {
        box-shadow: 25px 20px 37px -4px rgba(117,17,17,0.75);
        -webkit-box-shadow: 25px 20px 37px -4px rgba(117,17,17,0.75);
        -moz-box-shadow: 25px 20px 37px -4px rgba(117,17,17,0.75);
        margin-top: 10px;
        div { 
            div {
                p {
                    font-size: 1.1rem;
                    font-family: 'Nuosu SIL', serif;
                    text-align: center;
                }
            }
        }
    }
    div {
        .especiales {
            margin-bottom: 5px;
            margin-top: 25px;
            padding-bottom: 5px;
            padding-top: 5px;
            background-color: #e9e8b1;
            border: #bea054 solid 1px;
            border-radius: 3px;
            h2 {
                font-size: 1rem;
                font-family: 'Nuosu SIL', serif;
                color: #62270c;
                text-align: center;
            }
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .card {
                margin: 3px;
                div {
                    h4 {
                        font-family: 'Nuosu SIL', serif;
                        color: #540a0a;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px){
main {
    section {
        div {
            div {
                .animacionTexto {
                    box-shadow: 12px 11px 30px 3px rgba(235,189,189,0.88);
                    -webkit-box-shadow: 12px 11px 30px 3px rgba(235,189,189,0.88);
                    -moz-box-shadow: 12px 11px 30px 3px rgba(235,189,189,0.88);                
                    font-size: 1.7rem;
                    font-family: 'Nuosu SIL', serif;
                    text-align: center;
                    animation-name: animacion;
                    animation-duration: 5s;
                    animation-timing-function: ease;
                    animation-iteration-count: infinite;
                    @keyframes animacion {
                        0% {background-color: #f89999;}
                        20% {background-color: #fac8ab;}
                        40% {background-color: #fffccf;}
                        60% {background-color: #c5ffc2;}
                        80% {background-color: #c7c5fb}
                        100% {background-color: #e9c4ee;}
                    }
                }
            }
        }
    }
    div {
        .especiales {
            h2 {
                font-size: 1.5rem;
            }
        }
        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .card {
                margin: 10px;
            }
        }
    }
}
}