.pieDePagina {
    background-color: map-get($estilos,colorPie );
    border: 2px solid $secondaryColor;
    .redes {
        margin-right: 10px;
        p {
        font-size: 0.8rem;
        font-family: 'Nuosu SIL', serif;
        color: #ffffff;
        text-align: end;
        }
        a {
            @include display (row, end, end);
            padding-top: 5px;
            color: #aa8740;
        }
    }
    .autor {
        font-family: 'Nuosu SIL', serif;
        color: #ffffff;
        font-size: 1rem;
        text-align: left;
        margin-left: map-get($estilos, paddingUno);
    }
    
}
@media screen and (min-width: 1024px){
    .pieDePagina {
        .autor {
            text-align: center;
            font-size: 1.5rem;
        }
        .redes {
            padding-right: 80px;
            p {
            text-align: right;
            font-size: 1.4rem;
            }
            a {
                display: map-get($estilos, display);
                flex-direction: map-get($estilos, flexRow);
                justify-content: end;
                padding-top: 5px;
            }
        }
    }
}