@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@font-face {
    font-family: fontrose;
    src: url(../fonts/Rose.ttf);
}
header {
    nav {
        background-color: map-get($estilos, colorPrimario);
        width: 100%;
        div {
            a {
                img {
                    border-radius: 50%;
                }
            }
            .navbar-toggler {
                background-color: #000000;
                opacity: 15%;
            }
            div {
                h1 {
                    display: none;
                }
            }
            div {
                justify-content: end;
                padding: 25px;
                ul {
                    li {
                        .nav-link {
                            @extend %estiloNav;
                        }
                    }
                }
            }
        }
        .mirar-carrito {
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
@media screen and (min-width: 1024px){
    header {
        position: fixed;
        z-index: 999;
        width: 100%;
        nav {
            div {
                div {
                    h1 {
                        display: flex;
                        font-family: fontrose;
                        font-size: 3.3rem;
                        color: #aa8740;
                    }
                }
                div {
                    ul {
                        li {
                            .nav-link {
                                margin-left: 15px;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
            .mirar-carrito {
                font-size: 1.5rem;
                cursor: pointer;
            }
            .unidades-carrito {
                display: none
            }
        }
    }
}