@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@font-face {
    font-family: fontrose;
    src: url(../fonts/Rose.ttf);
}
main {
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    div {
        div {
            div {
                .img2 {
                    display: flex;
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
    .contenedorPresentacion {
        box-shadow: 25px 20px 37px -4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 25px 20px 37px -4px rgba(28, 27, 27, 0.75);
        -moz-box-shadow: 25px 20px 37px -4px rgba(19, 19, 19, 0.75);
        margin-top: 35px;
        div { 
            div {
                p {
                    font-size: 1.1rem;
                    font-family: 'Nuosu SIL', serif;
                    text-align: center;
                }
            }
        }
    }
    div {
        .especiales {
            margin-bottom: 5px;
            margin-top: 25px;
            padding-bottom: 5px;
            padding-top: 5px;
            background-color: #828282;
            opacity: 65%;
            border: #383838 solid 1px;
            border-radius: 3px;
            h2 {
                font-size: 1rem;
                font-family: 'Nuosu SIL', serif;
                color: #ffffff;
                text-align: center;
            }
        }
        .container {
            @include display (column, center, center);
            .card {
                margin: 3px;
                div {
                    h4 {
                        font-family: 'Nuosu SIL', serif;
                        color: #000000;
                        text-align: center;
                    }
                    .btn {
                        @extend %estiloBtn;
                        width: 100%;
                    }
                }
            }
        }
        .nuestrosEspeciales {
            @extend %flexColumn;
            h2 {
                font-family: 'Nuosu SIL', serif;
                color: #000000;
            }
        }
    }
    .seccionesNombre {
        background-color: #6c6c6c;
        opacity: 65%;
        border: 2px solid #0e0e0e;
        h2 {
            text-align: center;
            font-family: 'Nuosu SIL', serif;
            font-size: 1.1rem;
            color: #ffffff;
        }
    }
    h3 {
        display: none;
    }
    ol {
        list-style: none;
        li {
            font-size: 1rem;
            font-family: 'Nuosu SIL', serif;
            text-align: center;
            margin-bottom: 5px;
        }
    }
    div {
        .card {
        background-color: #f8f8f8b3;
        border: #3b3b3b solid 1px;
            div {
                h4 {
                    font-family: 'Nuosu SIL', serif;
                    color: #a40000;
                    text-align: center;             
                    }
                p {
                    text-align: center;
                    font-family: 'Nuosu SIL', serif;
                    font-size: 1rem;
                }
            }
        }
    }
    .imagenes {
        display: none;
    }
    .rowImagenes {
        display: none;
    }
    .contenedorPresentacion {
        .textoNosotros {
            margin-bottom: 15px;
            background-color: rgba(102, 87, 36, 0.122);
            border-radius: 15px;
            p {
                font-size: 1.5rem;
                text-align:justify;
                padding-top: 25px;
            }
        }
        .nuestraProduccion {
            display: none;
        }
    }
    .dise単oForm {
        @include display (column, center, center);
        div {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            ul {
                list-style: none;
                background-color: #e7c4463d;
                border: #7b6d1e solid 3px;
                padding: 10px;
                border-radius: 15px;
                font-family: fontrose;
                font-size: 1.6rem;
                color: #714f4f;
            }
            iframe {
                width: 300px;
                height: 200px;
                border: 2px solid #414141;
            }
        }
        form {
            display: inline-block;
            font-size: 1.2rem;
            font-family: 'Nuosu SIL', serif;
            background-color: #55555553;
            color: #000000a8;
            padding: 10px;
            margin: 10px;
            border: 8px solid #4a4949;
            outline: 4px solid #2b2b2b;
            fieldset {
                display: grid;
                width: 100%;
                align-items: center;
                legend {
                    display: none;
                }
                div {
                    display: grid;
                    justify-content: center;
                    label {
                        display: grid;
                        width: 100%;
                        grid-template-columns: 100%;
                        grid-template-rows: 5px 5px 5px 5px 5px 5px 5px;
                        padding: 1px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                        align-items: center;
                    }
                    input {
                        background-color: #f3f0f2;
                        width: 100%;
                        height: 35px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                    }
                    .mensaje {
                        background-color: #f3f0f2;
                    }
                }
                .boton {
                    @extend %estiloBtn;
                }
                .opcion {
                    display: flex;
                    padding: 10px;
                    .pregunta {
                        width: 60px;
                        height: 35px;
                    }
                }
                .promociones {
                    display: flex;
                    .check {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    main {
        padding-top: 137px;
        div {
            div {
                div {
                    .img2 {
                        display: flex;
                        width: 100%;
                        height: 450px;
                    }
                }
            }
        }
        section {
            div {
                div {
                    .animacionTexto {
                        box-shadow: 12px 11px 30px 3px rgba(41, 41, 41, 0.88);
                        -webkit-box-shadow: 12px 11px 30px 3px rgba(37, 37, 37, 0.88);
                        -moz-box-shadow: 12px 11px 30px 3px rgba(14, 14, 14, 0.88);                
                        font-size: 1.7rem;
                        font-family: 'Nuosu SIL', serif;
                        text-align: center;
                        color: #040425;
                        margin-top: 20px;
                        border-radius: 25px;
                        animation-name: animacion;
                        animation-duration: 5s;
                        animation-timing-function: ease;
                        animation-iteration-count: infinite;
                        @keyframes animacion {
                            0% {background-color: #a7bbec9e;}
                            100% {background-color: #8892b3c5;}
                        }
                    }
                }
            }
        }
        div {
            .especiales {
                h2 {
                    font-size: map-get($estilos, tama単oSecciones);
                }
            }
            .container {
                @include display (row, center, center);
                .card {
                    margin: 10px;
                }
            }
        }
        .seccionesNombre {
            h2 {
                font-size: map-get($estilos, tama単oSecciones);
            }
        }
        .productos {
            display: flex;
            justify-content: center;
            font-family: fontrose;
            font-size: 2.5rem;
            font-style: italic;
        }
        ol {
            li {
                font-size: 1.3rem;
                font-family: 'Nuosu SIL', serif;
                text-align: center;
                margin-bottom: 5px;
                padding: map-get($estilos, paddingDos);  
            }
        }
        .container {
            @include display (row, center, center);
            .card {
                margin: 10px;
                div {
                    h4 {
                        font-family: 'Nuosu SIL', serif;
                        color: #c80202;
                        text-align: center;
                    }
                    p {
                        text-align: center;
                        font-family: 'Nuosu SIL', serif;
                        font-size: 1.3rem;
                    }
                }
            }
        }
        .imagenes {
            display: flex;
            width: 100%;
            font-family: fontrose;
            font-style: italic;
            font-size: 2.8rem;
            text-decoration: underline;
            color: #460c0c;
            background-color: #6c6c6c96;
            justify-content: center;
            padding: 10px;
            margin-top: 25px;
            margin-bottom: 10px;
        }
        .rowImagenes {
            display: flex;
            padding: 5px;
            margin: 5px;
            div {
                img {
                    width: 100%;
                }
            }
            .tentate {
                padding: map-get($estilos, paddingUno);
                margin: 10px
            }
        }
        .contenedorPresentacion {
            padding: 30px;
            div {
                .nuestraProduccion {
                    display: flex;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    img {
                        width: 100%;
                        height: 450px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .dise単oForm {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            div {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                ul {
                    list-style: none;
                    background-color: #f1afaf;
                    border: #a94747 solid 3px;
                    padding: 20px;
                    border-radius: 15%;
                    .contactoInfo {
                        font-family: fontrose;
                        font-size: 1.6rem;
                        color: #540a0a;
                    }
                }
                iframe {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    height: 250px;
                }
            }
            .formulario {
                width: 60%;
                background-image: url("../imagenes/fondocontacto.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #fdf2e3;
                color: #211705;
                border:#d6b8a5 solid 5px;
                border-radius: 25px;
                outline: #000000;
                fieldset {
                    legend {
                        display: flex;
                        font-size: 1.7rem; 
                    }
                    div {
                        display: flex;
                        flex-direction: row;
                        padding: 10px;
                        label {
                            display: flex;
                            flex-direction: row;
                            font-size: 1.5rem;
                            margin-bottom: 5px;
                        }
                        .deseoProm {
                            margin-top: 15px;
                        }
                        input {
                            background-color: #f3f0f2;
                            width: 100%;
                            height: 35px;
                            margin-bottom: 5px;
                            margin-right: 20px;
                        }
                    }
                    .comentario {
                        flex-direction: map-get($estilos, flexColumn);
                        .mensaje {
                            width: 400px;
                            height: 250px;
                            margin-left: 20px;
                        }
                    }
                    .boton {
                        width: 40%;
                        margin-top: 2px;
                    }
                    .opcion {
                        display: flex;
                        padding: 10px; 
                        .pregunta {
                            display: flex;
                            width: 20%;
                            margin-top: 15px;
                        }
                    }
                    .promociones {
                        display: flex;
                        width: 50%;
                        .check {
                            width: 20px;
                            height: 20px;
                            margin-top: 25px;
                        }
                    }
                }
            }
        }
    }    
}