$estilos: (
    colorPrimario: #ffffffbb,
    colorPie: #000000,
    paddingUno: 10px,
    paddingDos: 5px,
    display: flex,
    flexColumn: column,
    flexRow: row,
    tamañoSecciones: 1.6rem,


);