@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
@font-face {
    font-family: fontrose;
    src: url(../fonts/Rose.ttf);
}
* {
    padding: 0;
    margin: 0;
}
.contenedorIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 90px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.encabezado {
    grid-area: header;
    background-color: #e3be62;
    border: 2px solid #bea054;
}
.logo {
    display: inline-block;
    width: 15%;
}
h1 {
    display: inline-block;
    color: #8a5334;
    font-family: "fontrose";
    font-size: 1.6rem;
    font-style: italic;
    padding-left: 15px;
}
.barra {
    list-style: none;
    text-align: left;
}
.barra li {
    display: flex;
    padding: 2px;
    margin: 5px;
}
nav ul li a {
    font-size: 0.8rem;
    background-color: #e3bc61;
    color: #62270c;
    font-family: 'Nuosu SIL', serif;
    text-decoration: none;
    border-radius: 5px;
    border-bottom: 3px solid #d18c47;
    margin-right: 1px;
    padding: 2px;
}
nav ul li a:hover {
    background-color: #d08008;
}
main {
    grid-area: main;
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.img2 {
    width: 100%;
    padding-bottom: 5px;
}
main div p {
    font-size: 1.1rem;
    font-family: 'Nuosu SIL', serif;
    text-align: center;
}
h2 {
    font-size: 1.3rem;
    font-family: 'Nuosu SIL', serif;
    background-color: #f3f0f2;
    color: #62270c;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: #bea054 solid 1px;
    border-radius: 3px;
}
section article img {
    width: 95%;
    height: 95%;
}
.rowTexto {
    display: grid;
    width: 100%;
    height: 300px;
    grid-template-columns: 75%;
    grid-template-rows: 25%;
    justify-content: center;
    margin-bottom: 5px;
    transition: 2s;
}
.rowTexto:hover {
    height: 500px;
}
.animacionTexto {
    transform: rotate(-5deg);
}

.rowIndex {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.pieDePagina {
    grid-area: footer;
    background-color: #e3be62;
    border: 4px solid #bea054;
}
.redes {
    font-size: 0.8rem;
    text-align: end;
}
.autor {
    font-size: 0.8rem;
    text-align: left;
}
.redes a {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 5px;
    color: #983f08;

}
.contenedorProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 90px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
main ol li {
    font-size: 1.3rem;
    font-family: 'Nuosu SIL', serif;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
}
.contenedorNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 90px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.rowNosotros {
    display: grid;
    width: 100%;
    grid-template-columns: 75%;
    grid-template-rows: 25%;
    justify-content: center;
    margin-bottom: 5px;
}
.nuestraProduccion {
    display: none;
}
main div div p {
    font-size: 1.2rem;
    background-color: #fdf5d8;
    color: #5a190a;
    border: #bea054 solid 5px;
    border-radius: 15px;
}
.contenedorEventos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 90px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.rowEventos {
    display: grid;
    width: 100%;
    grid-template-columns: 75%;
    grid-template-rows: 180px 180px 180px 180px;
    justify-content: center;
}
h3 {
    display: none;
}
.rowImagenes {
    display: none;
}
.contenedorContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 90px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.formulario {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Nuosu SIL', serif;
    background-color: #fbf3cc;
    color: #bb4a19;
    padding: 10px;
    margin: 10px;
    border: 8px solid #ffdb92;
    outline: 4px solid #fbf2b3;
}
form fieldset {
    display: grid;
    width: 100%;
    align-items: center;
}
form fieldset legend {
    display: none;
}
form fieldset div {
    display: grid;
    justify-content: center;
}
form fieldset div label {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 5px 5px 5px 5px 5px 5px 5px;
    padding: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-items: center;
}
form fieldset div input {
    background-color: #f3f0f2;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.mensaje {
    background-color: #f3f0f2;
}
.boton {
    font-family: 'Nuosu SIL', serif;
    font-size: 15px;
    background-color: #f9efce;
    color: #422346;
    padding: 8px;
    margin: 5px;
    border: 5px outset #fcd4a4;
}
.opcion {
    display: flex;
    padding: 10px;
}
.pregunta {
    width: 60px;
    height: 35px;
}
.promociones {
    display: flex;
}
.check {
    width: 20px;
    height: 20px;

}
.carta {
    display: none;
}
@media screen and (min-width: 1024px){
    .contenedorIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 4fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .encabezado {
        background-color: #6b0c05;
        display: flex;
        padding: 1rem;
    }
    h1 {
        display: flex; 
        align-items: flex-end;
        font-size: 4rem;
    }
    nav {
        display: flex;
        width: 95%;
        justify-content: end;
    }
    .barra {
        display: flex; 
        flex-direction: row;
        align-items: flex-end;
        gap: 1rem;
    }
    .barra li {
        background-color: #6b0c05;
    }
    nav ul li a {
        font-size: 1.3rem;
        background-color: #621313;
        color: #916b1a;
        font-family: 'Nuosu SIL', serif;
        text-decoration: none;
        border-radius: 10px;
        border-bottom: 3px solid #260303;
        margin-right: 1px;
        padding: 5px;
    }
    .rowTexto {
        display: flex;
        width: 60%;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 38%;
    }
    .rowTexto p {
        background-color: #ffdfbf;
        font-size: 1.7rem;
        color: #621313;
        border: #6b0c05 solid 1px;
    }
    .animacionTexto {
        transform: rotate(-5deg);
        animation-name: animacion;
        animation-duration: 5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
    }
    @keyframes animacion {
        0% {background-color: #f89999;}
        20% {background-color: #fac8ab;}
        40% {background-color: #fffccf;}
        60% {background-color: #c5ffc2;}
        80% {background-color: #c7c5fb}
        100% {background-color: #e9c4ee;}
    }
    .rowIndex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    section article img {
        display: flex;
        width: 100%;
    }
    .pieDePagina {
        background-color: #6b0c05;
    }
    .autor {
        text-align: center;
        font-size: 1.5rem;
    }
    .redes {
        text-align: right;
        font-size: 1.4rem;
        padding-right: 80px;
    }
    .redes a {
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-top: 5px;
        color: #988308;

    }
    .contenedorProductos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 4fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .productos {
        display: flex;
        width: 100%;
        font-size: 1.6rem;
        font-family: 'Nuosu SIL', serif;
        font-style: italic;
        text-decoration: underline;
        color: #621313;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .contenedorEventos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 4fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .rowEventos {
        display: flex;
    }
    .columna {
        display: flex;
        flex-direction: column;
        background-color: #61100a;
        color: #f8e3f5;
        padding: 20px;
        margin: 20px;
    }
    .columna p {
        padding: 30px;
        background-color: #ffffff;
        border: #531313 solid 5px;
    }
    .imagenes {
        display: flex;
        width: 100%;
        font-size: 1.6rem;
        font-family: 'Nuosu SIL', serif;
        font-style: italic;
        text-decoration: underline;
        color: #621313;
        justify-content: center;
        margin-bottom: 10px;
    }
    .rowImagenes {
        display: flex;
        padding: 5px;
        margin: 5px;
    }
    section div img {
        width: 100%;
    }
    .tentate {
        padding: 10px;
        margin: 10px;
    }
    .contenedorNosotros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 4fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .rowNosotros {
        display: flex;
        flex-direction: row;
    } 
    .sobreNosotros {
        width: 70vh;
        padding-top: 100px;
    }
    .sobreNosotros p {
        background-color: #eddbd0;
        border: #b48a8a solid 5px;
        font-size: 1.6rem;
    }
    .nuestraProduccion {
        display: flex;
        justify-content: center;
    }
    .nuestraProduccion img {
        width: 50%;
        height: 70%;
        margin-top: 50px;
        border: #260303 solid 5px;
    }
    .contenedorContacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 4fr 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }
    .diseñoForm {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .formulario {
        width: 40%;
        background-color: #6b0c05;
        color: #f3f1e4;
        border:#440804 solid 5px;
        outline: #2e0401;
    }
    .divCarta {
        display: flex;
        width: 50%;
    }
    .carta { 
        display: flex;
        width: 500px;
        height: 350px;
        padding-top: 190px;
    }
    form fieldset legend {
        display: flex;
        font-size: 1.7rem;
    }
    form fieldset div {
        display: flex;
        flex-direction: row;
    }
    form fieldset div label {
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    form fieldset div input {
        background-color: #f3f0f2;
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-right: 20px;
    }
    .comentario {
        flex-direction: column;
    }
    .mensaje {
        width: 300px;
        height: 200px;
        margin-left: 20px;
    }
    .boton {
        font-family: 'Nuosu SIL', serif;
        font-size: 1.3rem;
        background-color: #eba090;
        color: #000000;
        padding: 8px;
        margin: 5px;
        border: 5px outset #b02f42;
        width: 30%;
    }
    .opcion {
        display: flex;
        padding: 10px;
    }
    .pregunta {
        display: flex;
        width: 20%;
        margin-top: 15px;
    }
    .promociones {
        display: flex;
        width: 50%;

    }
    .check {
        width: 20px;
        height: 20px;
        margin-top: 25px;
    }
    
}